@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

@font-face {
    font-display: swap;
    src: url("../fonts/SegoeUI-Light.woff") format("woff"), url("../fonts/SegoeUI-Light.woff2") format("woff2");
    font-family: "SegoeUI";
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-display: swap;
    src: url("../fonts/SegoeUI.woff") format("woff"), url("../fonts/SegoeUI.woff2") format("woff2");
    font-family: "SegoeUI";
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-display: swap;
    src: url("../fonts/SegoeUI-Italic.woff") format("woff"), url("../fonts/SegoeUI-Italic.woff2") format("woff2");
    font-family: "SegoeUI";
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-display: swap;
    src: url("../fonts/SegoeUI-SemiBold.woff") format("woff"), url("../fonts/SegoeUI-SemiBold.woff2") format("woff2");
    font-family: "SegoeUI";
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-display: swap;
    src: url("../fonts/SegoeUI-Bold.woff") format("woff"), url("../fonts/SegoeUI-Bold.woff2") format("woff2");
    font-family: "SegoeUI";
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-display: swap;
    src: url("../fonts/SegoeUI-BoldItalic.woff") format("woff"), url("../fonts/SegoeUI-BoldItalic.woff2") format("woff2");
    font-family: "SegoeUI";
    font-style: italic;
    font-weight: 700;
}

body {
    color: #353535;
    font-family: "SegoeUI";
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 1.31;
    height: 3000px;
}

.page-main {
    scrollbar-color: #F46119 #E2EBEC;
    scrollbar-width: thin !important;
    -moz-appearance: none !important;
    display: inline-block;
    position: relative;
    padding: 45px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 1250px;
    margin-left: 250px;
}

td:not(:first-child),
td:not(:last-child),
th:not(:first-child),
th:not(:last-child) {
	border-left: none;
	
}

th {
	padding: 14px 0px;
}

.page-body {
    width: 100%;
   	margin-top: 75px;
}

#user_list_table {
	padding: 50px;
	height: 500px;
	margin-top: 75px;
}

.list {
	text-align: center;
}

td {
	height: 50px;
}

#main-page {
	width: 1160px;
	margin-left: 350px;
	margin-top: 75px;
	height: 600px;
	display: flex;
}

#input_achievements, #icon_select {position:relative}
.absolute {position:absolute;bottom:0;right:0}

#input_achievements {
	width: 250px;
	height: 600px;
	display: flex;
}

#icon_select {
	width: 700px;
	height: 600px;
	
}

.fixed_position {
	width: 250px;
	height: 150px;
	margin: auto;
	padding: auto;
}

#icon_payments {
	width: 250px;
	height: 50px;
	outline: none;
	border-radius: 10px;
	
}

#payments_button_wrap{
	margin-top: 20px;
	text-align: center;
}

#payments_button {
	width: 150px;
	height: 50px;
	background-color: white;
	color: #F46119;
	outline: none;
	text-decoration: none;
	border-radius: 10px;
	
}

.modal-profile-icon-body {
	display: inline-block;
	width: 120px;
	height: 120px;
	margin: 10px 23px;
}

.modal-profile-icon {
	border-radius: 50%;
}

.modal-profile-icon:hover {
	cursor:pointer;
}

.profile-icon-radio {
	display:none;
}

#achievements_select {
	width: 100%;
	height: 500px;
	margin: auto;
	background-color: black;
}