@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

@font-face {
    font-display: swap;
    src: url("../fonts/SegoeUI-Light.woff") format("woff"), url("../fonts/SegoeUI-Light.woff2") format("woff2");
    font-family: "SegoeUI";
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-display: swap;
    src: url("../fonts/SegoeUI.woff") format("woff"), url("../fonts/SegoeUI.woff2") format("woff2");
    font-family: "SegoeUI";
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-display: swap;
    src: url("../fonts/SegoeUI-Italic.woff") format("woff"), url("../fonts/SegoeUI-Italic.woff2") format("woff2");
    font-family: "SegoeUI";
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-display: swap;
    src: url("../fonts/SegoeUI-SemiBold.woff") format("woff"), url("../fonts/SegoeUI-SemiBold.woff2") format("woff2");
    font-family: "SegoeUI";
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-display: swap;
    src: url("../fonts/SegoeUI-Bold.woff") format("woff"), url("../fonts/SegoeUI-Bold.woff2") format("woff2");
    font-family: "SegoeUI";
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-display: swap;
    src: url("../fonts/SegoeUI-BoldItalic.woff") format("woff"), url("../fonts/SegoeUI-BoldItalic.woff2") format("woff2");
    font-family: "SegoeUI";
    font-style: italic;
    font-weight: 700;
}

body {
    color: #353535;
    font-family: "SegoeUI";
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 1.31;
    height: 3000px;
}

.page-main {
    scrollbar-color: #F46119 #E2EBEC;
    scrollbar-width: thin !important;
    -moz-appearance: none !important;
    display: inline-block;
    position: relative;
    padding: 45px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 1250px;
    margin-left: 160px;
}

/* td:not(:first-child),
td:not(:last-child),
th:not(:first-child),
th:not(:last-child) {
	border-left: none;
	
} */


.page-body {
    width: 100%;
   	margin-top: 75px;
}

#user_list_table {
	width: 100%;
	padding: 50px;
	margin-top: 75px;
}

.list {
	width: 100%;
	text-align: center;
/* 	border: 1px solid #444444;
 */    border-collapse: collapse;
}
th {
	color: #878787;
	font-weight: 500;
}

th, td {
/*     border-bottom: 1px solid #444444; */
    padding: 17px 10px;
 }

tr:first-child {
	border-bottom: 2px solid  #888888;
}

tr:not(:first-child) {
	border-bottom: 0.5px solid #dddddd;
}

#main-page {
	width: 100%;
	margin-left: 350px;
	margin-top: 75px;
	height: 600px;
	display: flex;
}

#input_achievements, #icon_select {position:relative}
.absolute {position:absolute;bottom:0;right:0}

#input_achievements {
	width: 250px;
	height: 600px;
	display: flex;
	margin-top: 75px;
}

#icon_select {
	width: 720px;
	height: 600px;
	
}

.fixed_position {
	width: 250px;
	height: 150px;
	margin: auto;
	padding: auto;
}

#icon_payments {
	width: 250px;
	height: 50px;
	outline: none;
	border-radius: 10px;
	padding: 8px 15px;
	border: 0;
}

#payments_button_wrap{
	margin-top: 10px;
	text-align: center;
}

#payments_button {
	width: 250px;
	height: 50px;
	background-color: #F46119;
	color: white;
	outline: none;
	text-decoration: none;
	border-radius: 10px;
	border: 0;
}

.modal-profile-icon-body {
	display: inline-block;
	width: 100px;
	height: 100px;
	margin: 18px 20px;
}

.modal-profile-icon {
	border-radius: 50%;
}

.modal-profile-icon:hover {
	cursor:pointer;
}

.profile-icon-radio {
	display:none;
}

.profile-icon-radio:checked + label img {
	border: 5px groove #F46119;
}

#achievements_select {
	width: 470px;
	height: 500px;
	margin: auto;
	background-color: white;
	margin-left: 60px;
/* 	border: 15px solid #F46119; */
	border-radius: 5%;
	display:flex;
}

#icon_div {
	justify-content: center;
    align-content: center;
    flex-wrap: wrap;
	margin: auto;
	display:flex;
	
}