@charset "UTF-8";

.page-header {
    display: block;
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.page-header__inner {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    background-color: #fff;
}

.page-header__sidebar {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 250px;
    height: 75px;
    padding: 0 30px;
    border-right: 1px solid #F2F2F2;
    text-align: center;
}

.page-header__menu-btn {
    margin-right: 30px;
    margin-bottom: -10px;
    display: none;
}

.page-header__menu-btn .menu-btn {
    -webkit-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    border: none;
    outline: none;
    color: #646464;
    font-size: 20px;
    transition: all 0.25s linear;
}

.page-header__menu-btn .menu-btn:hover,
.page-header__menu-btn .menu-btn:focus,
.page-header__menu-btn .menu-btn:active,
.page-header__menu-btn .menu-btn.nice-select.open {
    color: #F46119;
}

.page-header__content {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    -webkit-box-shadow: 11px 7px 10px 0px #0000000f;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    padding: 0 45px;
    box-shadow: 11px 7px 10px 0px #0000000f;
}

.page-header__search {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    display: block;
    position: relative;
    flex-grow: 1;
}

.page-header__action {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.page-header__action > * {
    margin-right: 24px;
}

.page-header__action > *:last-child {
    margin-right: 0;
}

.search__input {
    -webkit-box-align: center;
    -ms-flex-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
    max-width: 550px;
    height: 45px;
    padding: 0 20px;
    border-radius: 25px;
    background: #F5F5F5;
}

.search__input input {
    width: 100%;
    border: none;
    background: none;
    color: #6E6E6E;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 1.43;
}

.search__input input::-webkit-input-placeholder {
    color: #6E6E6E;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 1.43;
}

.search__input input::-moz-placeholder {
    color: #6E6E6E;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 1.43;
}

.search__input input:-ms-input-placeholder {
    color: #6E6E6E;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 1.43;
}

.search__input input::-ms-input-placeholder {
    color: #6E6E6E;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 1.43;
}

.search__input input::placeholder {
    color: #6E6E6E;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 1.43;
}

.search__input input:hover,
.search__input input:focus,
.search__input input:active,
.search__input input.nice-select.open {
    border: none;
    outline: none;
}

.search__btn {
    margin-left: 12px;
}


.action-btn {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 24px;
    -webkit-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    flex: 0 0 24px;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    color: #646464;
    font-size: 24px;
    transition: all 0.25s linear;
}


















#sidebar {
    -webkit-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    display: block;
    z-index: 3;
    position: absolute;
    top: 75px;
/*     left: -250px; */
    width: 250px;
    height: calc(100vh - 75px);
    padding: 30px 20px 30px 0;
    overflow-y: auto;
    border-right: 1px solid #F2F2F2;
    background-color: #fff;
    transition: all 0.25s linear;
}

.sidebar-box {
    display: block;
    position: relative;
}

.sidebar-box .uk-nav li a {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    padding: 12px 12px 12px 30px;
    border-radius: 0px 20px 20px 0px;
    color: #646464;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.36;
    transition: all 0.25s linear;
}

.sidebar-box .uk-nav li a:hover,
.sidebar-box .uk-nav li a:focus,
.sidebar-box .uk-nav li a:active,
.sidebar-box .uk-nav li a.nice-select.open {
    background: rgba(244, 97, 25, 0.05);
    color: #F46119;
}


.sidebar-box .uk-nav li a::before {
    -webkit-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    border-radius: 0px 5px 5px 0px;
    background: #F46119;
    content: '';
    opacity: 0;
    transition: all 0.25s linear;
}

.sidebar-box .uk-nav li a span.count {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    margin-left: auto;
    border-radius: 50%;
    background: #F46119;
    color: #FFFFFF;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.3;
}

.sidebar-box .uk-nav li.uk-nav-header {
    margin-top: 15px;
    padding-left: 30px;
    color: #767676;
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    line-height: 1.33;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.sidebar-box .uk-nav li.uk-active a {
    background: rgba(244, 97, 25, 0.05);
    color: #F46119;
}

.sidebar-box .uk-nav li.uk-active a::before {
    opacity: 1;
}