.modal {
	position: relative;
	width: 100%;
    max-width: 540px;
    height: 390px;
	background: white;
	border-radius: 1rem;
	z-index: 1000;
}

.modal-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
}

.hidden {
	visibility: hidden;
}

#jsCloseBtn {
	background-color: inherit;
	border: none;
	font-size: 18px;
}

.repair {
	padding: 25px 45px;
}

#sign_up {
	height: 60px;
}

ul>li {
	list-style: none
}

a {
	text-decoration: none;
}

.important {
	height: 650px;
	margin-left: 100px;
	padding: 30px 30px 30px 30px;
	-webkit-box-shadow: 0px 30px 70px rgba(0, 0, 0, 0.03);
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 25px;
	background: #FFFFFF;
	box-shadow: 0px 30px 70px rgba(0, 0, 0, 0.03);
}

#header_logo {
	width: 75px;
	height: 75px;
}