@charset "UTF-8";

/* 모달 */

.modal-bg{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 3;
	
	background-color: rgba(0,0,0,0.5);
	display:flex;
	justify-content: center;
	align-items: center;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s, opacity 0.5s;
}

.bg-active{
	visibility: visible;
	opacity: 1;
}

.modal{
	background-color: white;
	width: 30%;
	height: 30%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	position: relative;
}

.modal button{
	padding: 10px 30px;
	background-color: #f46119;
	color: white;
	border: 0;
	cursor: pointer;
}

.modal textarea{
	width: 80%;
	color: white;
}

.modal-close{
	position: absolute;
	top: 10px;
	right: 10px;
	font-weight: bold;
	cursor: pointer;
}

.modal-title{
	color: #f46119;
}





#reply-header{
	margin: 10px 0;
}

.reply-content-repeat{
	padding: 10px 0;
	border-top: solid gray 1px;
	border-bottom: solid gray 1px;
}

.reply-content{
	display: inline-block;
	width:85%;
	line-height:30px;
}

.post-info{
	padding-right: 10px;
}

.post-info-detail{
	color: blue;
}

.friend-btn{
	margin-left:15px;
	border-radius: 5px;
	font-size: 11px;
	border: black solid 1px;
}

/* .cancelFriendRequest,
.deleteFriend{
	background-color: #f46119;
	color: white;
}

.acceptFriendRequest{
	background-color: gold;
}

.banned{
	background-color: red;
} */

.report-btn,
.delete-reply{
	font-size: 11px;
	text-align: right;
	color: gray;
	border: 0;
	float:right;
}

.tier-img{
	width: 45px;
}

#message-img{
	width:30px;
	margin-right: 10px;
}

.chooseUser{
	padding:0;
	border:0;
}

.check-img{
	width:40px;
}

#user-check-form{
	display: inline-block;
}

.writer-info-separator,
.replier-info-separator{
	padding: 10px;
}

#post-content{
	line-height:40px;
}

#writer-post-button{
	text-align: right;
}

#reply-date{
	font-weight: normal;
	font-size: 11px;
	padding: 0 15px;
}

.modify-post:hover{
	text-decoration: none;
	color: white;
}

.writer-info{
	font-size: 1.1em;
}

.user-info{
	font-weight: bold;
	display:inline-block;
}

.user-info-wrap{
	display:flex;
	justify-content: space-between;
}

.user-info-remain{
	display: flex;
}

#new-reply-text{
	height: 39px;
	width: 90%;
	padding-left: 5px;
}

#new-reply{
	background-color: lightgray;
	padding:15px;
}

.submit-reply{
	margin: auto;
}


.post-header{
	padding-bottom:10px;
}

.post-header-top{
	color:#f46119;
}

.post-wrap{
	margin:auto;
	width: 80%;
	padding-left: 200px; 
}

input#title{
	width: 45%;
	height: 30px;
	padding: 5px;
}
 
.category-title{
	padding-left:10px;
	padding-right:10px;
	color: #f46119;
	font-weight: bolder;
}

.textarea-wrap{
	padding: (40px, 0);
}

textarea{
	width: 100%;
	height: 400px;
}

.button-wrap{
	padding-top: 10px;
	text-align: right;
}

.detail-big-btn{
	padding:8px;
	width: 70px;
	font-size:15px;
	border: 0;
	outline: 0;
	background-color: #f46119;
	color: white;
	font-weight: bold;
	border-radius: 5px;
}

.detail-small-btn{
	padding:5px;
	font-size: 13px;
	width: 50px;
	border: 0;
	outline: 0;
	background-color: #f46119;
	color: white;
	font-weight: bold;
}

input,
.category-wrap,
.category-title,
.category-content,
.category-map,
.category-game,
.post-info{
	display:inline-block;
}