@charset "UTF-8";


body {
    color: #353535;
    font-family: "SegoeUI";
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 1.31;
    height: 3000px;
}

.page-main {
    scrollbar-color: #F46119 #E2EBEC;
    scrollbar-width: thin !important;
    -moz-appearance: none !important;
    display: inline-block;
    position: relative;
    padding: 45px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 1250px;
    margin-left: 300px;
}

.page-body {
    width: 100%;
}

    
.profile-body,
.badges-body,
.board-list-body {
	padding: 20px 30px;
    border-radius: 10px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;     
    }
    
.profile-body,
.badges-body {
	background-color: rgb(224, 224 ,224);
	
}
    
.board-list-body,
.profile-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.profile-info-icon {
    flex: 0 0 110px;
    width: 110px;
    height: 110px;
    margin-right: 20px;
    overflow: hidden;
    border-radius: 50%;
}

.profile-icon {
	width: 120px;
	height: 120px;
}

.profile-user {
    display: block;
    position: relative;
}

.profile-user-title {
    color: #353535;
    font-size: 26px;
    font-style: normal;
    font-weight: normal;
    line-height: 1.35;
}

.profile-user-text {
    margin-top: 6px;
    color: #353535;
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    line-height: 1.36;
}

.profile-button-body {
	width: 120px;
}

    
.profile-button {
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: 'Marcellus', serif;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border-radius: 15px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-transform: none;
    transition: all 0.25s linear;
    text-decoration: none; 
    background: #F46119;
    color: #fff;
    width: 110px;
}

.profile-button:hover,
.profile-button:focus,
.profile-button:active {
    background: #d04b0a;
}
.profile-button-text {
    text-align: center;
}

.badges-head,
.boardlist-head {
	margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.badges-title,
.boardlist-title {
	margin-bottom: 10px;
	font-weight: bold;
}

.badges-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.badges-list li {
    margin: 0 10px 10px 0;
    width: 101px;
}

.badges-list li:last-child {
    margin-right: 0;
}

.badges {
	width: 85px;
	height: 85px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.board-list tr{
	height: 40px;
	text-align: center;
}

.board-list tr:first-child{
	background-color: rgb(224,224,224);
}

/* 모달 부분 */

/* .modal-dialog { */
/*     position: relative; */
/*     box-sizing: border-box; */
/*     margin: 0 auto; */
/*     width: 600px; */
/*     max-width: calc(100% - .01px)!important; */
/*     background: #fff; */
/*     opacity: 0; */
/*     transform: translateY(-100px); */
/*     transition: .3s linear; */
/*     transition-property: opacity, transform; */
/*     display: flow-root; */
/*     padding: 30px; */
/*     margin-top: auto!important; */
/*     margin-bottom: auto!important; */
/* } */

/* .password_form { */
/*     display: block; */
/*     margin-bottom: 5px */
/* } */
.modal-dialog {
	position:relative;
  	width:100%;
  	height:100%;
  	z-index:4;
}

.modal-title {
	display: inline;
	margin:10px;
	width:300px;
	
}

.modal-header {
	display:block;
}

.modal-header button,
.modal-footer button {
	display:inline-block;
  	width:100px;
  	margin-left:calc(100% - 100px - 10px);
}

.modal_content {
	width:300px;
 	margin:100px auto;
  	padding:20px 10px;
  	background:#fff;
  	border-radius: 1rem;
}

.modal_layer {
	position:fixed;
 	top:0;
  	left:0;
  	width:100%;
  	height:100%;
 	background:rgba(0, 0, 0, 0.5);
  	z-index:-1;
}

.modal-close {
	border-radius: 1rem;
	border: 0px;
	font-size: 2rem;
}