@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

@font-face {
    font-display: swap;
    src: url("../fonts/SegoeUI-Light.woff") format("woff"), url("../fonts/SegoeUI-Light.woff2") format("woff2");
    font-family: "SegoeUI";
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-display: swap;
    src: url("../fonts/SegoeUI.woff") format("woff"), url("../fonts/SegoeUI.woff2") format("woff2");
    font-family: "SegoeUI";
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-display: swap;
    src: url("../fonts/SegoeUI-Italic.woff") format("woff"), url("../fonts/SegoeUI-Italic.woff2") format("woff2");
    font-family: "SegoeUI";
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-display: swap;
    src: url("../fonts/SegoeUI-SemiBold.woff") format("woff"), url("../fonts/SegoeUI-SemiBold.woff2") format("woff2");
    font-family: "SegoeUI";
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-display: swap;
    src: url("../fonts/SegoeUI-Bold.woff") format("woff"), url("../fonts/SegoeUI-Bold.woff2") format("woff2");
    font-family: "SegoeUI";
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-display: swap;
    src: url("../fonts/SegoeUI-BoldItalic.woff") format("woff"), url("../fonts/SegoeUI-BoldItalic.woff2") format("woff2");
    font-family: "SegoeUI";
    font-style: italic;
    font-weight: 700;
}

body {
    color: #353535;
    font-family: "SegoeUI";
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 1.31;
    text-align:center;
}

.page-main {
    scrollbar-color: #F46119 #E2EBEC;
    scrollbar-width: thin !important;
    -moz-appearance: none !important;
    display: inline-block;
    position: relative;
    margin: 100px auto;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    max-width:1160px;
    min-width:1160px;
}

.page-body {
    width: 100%;  
}

.summoner-info-loading {
	height:1000px;
	align-items:center;
	display:inline-flex;
	font-size:21px;
}