<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- 위 문장으로 아래는 mapper의 내용이 됨 -->
  
  <mapper namespace="AdminDAO">
  	<!-- 회원 정보 조회 -->
  	<select id="user_list" resultType="admin">
  		SELECT USER_NO, USER_ID, SUMMONER_ID, PHONE_NUMBER, SITE_LEVEL, USABLE_POINT, HONOR_RATE, BAN, JOIN_DATE
  		FROM USER_INFO
  		WHERE 1=1
  	</select>
  	
  	<!-- 회원 카운터 -->
  	<select id="member_count" resultType="int">
		SELECT COUNT(*)
		FROM USER_INFO
	</select>
	
	<select id="achievement" resultType="String">
		SELECT BADGE_NAME
		FROM BADGE
	</select>
  
  </mapper>