<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- 위 문장으로 아래는 mapper의 내용이 됨 -->
  
  <mapper namespace="AdminDAO">
  	<!-- 유저 조회 -->
  	<select id="user_join" resultType="admin">
  		SELECT USER_ID, SUMMONER_ID, PHONE_NUMBER, SITE_LEVEL, USABLE_POINT, HONOR_RATE, PROFILE_ICON, BAN, JOINDATE
  		FROM USER_INFO
  		WHERE BAN = 1 OR BAN = 0
  	</select>
  
  </mapper>