<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- 위 문장으로 아래는 mapper의 내용이 됨 -->
  
  <mapper namespace="BasicDAO">
  	
  	<!-- 헤더 포인트 -->
  	<select id="header_point" resultType="basic" parameterType="Object">
  		SELECT usable_point, summoner_id, site_level, ban
  		FROM user_info
  		WHERE user_no = #{user_no}
  	</select>
  	
  	<select id="header_friends" resultType="basic" parameterType="Object">
  		SELECT friend
  		FROM friend
  		WHERE user_no = #{user_no}
  	</select>
  	
  </mapper>