<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- 위 문장으로 아래는 mapper의 내용이 됨 -->
  
  <mapper namespace="Board_view_DAO">
 
	<insert id="insertReply" parameterType="board_view">
		INSERT INTO re_board(user_re_no, post_no, re_text, re_date, user_no)
			VALUES(user_re_no.NEXTVAL, 72, #{re_text_insert}, sysdate, #{user_no_reply_insert})
	</insert>
	
	<select id="selectBoard" parameterType="int" resultType="board_view">
		SELECT * from board
			WHERE post_no = #{post_no }
	</select>
  
  </mapper>