<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- 위 문장으로 아래는 mapper의 내용이 됨 -->
  
  <mapper namespace="Board_list_DAO">
  
  	<!-- 관리자 게시판 조회 기능 -->
  	<select id="admin_boardList" resultType="board_list">
  		SELECT post_no, user_no, board_title, board_date FROM admin_board ORDER BY post_no DESC
  	</select>  	
  	
  	<!-- 게시글 카운터 -->
  	<select id="countBoard" resultType="int">
		SELECT COUNT(*) FROM board
	</select>
	
	
	
	 <!-- 게시글 카운터 검색페이징 -->
  	<select id="searchCountBoard" resultType="int">
		SELECT COUNT(*) FROM board
		<where>
			<if test="search_check_map != null">
				game_map in
					<foreach collection="search_check_map" index="index" item="item" open="(" close=")" separator=",">
						#{item}
					</foreach>
			</if>
			
			<if test="search_check_map != null">
				AND
			</if>
			
			<if test="searchKeyword != null">
				${searchCondition} LIKE '%'||#{searchKeyword}||'%'
	  		</if>
		</where>

	</select>


  	<!-- 페이징 처리 후 게시글 조회 -->
	<select id="selectBoard" parameterType="paging" resultType="board_list" >
		SELECT * FROM (
			SELECT ROWNUM RN, A.* FROM (
				SELECT * FROM BOARD
				<where>
					<if test="search_check_map != null">
						game_map in
						<foreach collection="search_check_map" index="index" item="item" open="(" close=")" separator=",">
							#{item}
						</foreach>
					</if>
			
					<if test="search_check_map != null">
						AND
					</if>
					
					<if test="searchKeyword != null">
						${searchCondition} LIKE '%'||#{searchKeyword}||'%'
			  		</if>
				</where>					
				ORDER BY POST_NO DESC )
				A )
		WHERE RN BETWEEN #{start} AND #{end}
	</select>
  	
  		
  </mapper>