<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- 위 문장으로 아래는 mapper의 내용이 됨 -->
  
  <mapper namespace="Board_detail_DAO">
 
  	<insert id="insertPost" parameterType="board_detail">
		INSERT INTO board(post_no, user_no, board_title, board_text, game_map, game_mode, board_date, cru_max, summoner_id)
			VALUES (post_no.NEXTVAL, #{user_no}, #{board_title},#{board_text},#{game_map},#{game_mode}, current_date, #{cru_max}, (SELECT summoner_id
																																		FROM user_info
																																		WHERE user_no = #{user_no}))
  	</insert>
  	
  	<insert id="insertAdminPost" parameterType="board_detail">
		INSERT INTO board(post_no, user_no, board_title, board_text, board_date, summoner_id)
			VALUES (post_no.NEXTVAL, #{user_no}, #{board_title},#{board_text}, current_date, (SELECT summoner_id
																									FROM user_info
																									WHERE user_no = #{user_no}))
  	</insert>
  	
  	<update id="updatePost" parameterType="board_detail">
  		UPDATE board
  			SET board_title = #{board_title},
  				board_text = #{board_text},
  				game_map = #{game_map},
  				game_mode = #{game_mode},
  				cru_max = #{cru_max}
  			WHERE post_no = #{post_no}
  	</update>
  	
  	  <update id="updateAdminPost" parameterType="board_detail">
  		UPDATE board
  			SET board_title = #{board_title},
  				board_text = #{board_text},
  			WHERE post_no = #{post_no}
  	</update>
  	
  	<select id="getPost_no" parameterType="int" resultType="int">
  		SELECT post_no
			FROM (SELECT post_no
		  		FROM BOARD
		  		WHERE user_no = #{value}
		  		ORDER BY post_no DESC)
		  	WHERE ROWNUM = 1
  	</select>
  
  	<select id="getBoard" parameterType="int" resultType="board_detail">
  		SELECT *
  			FROM board
  			WHERE post_no = #{value}
  	</select>
  
  	<update id="deletePost" parameterType="int">
  		UPDATE board
  			SET deleted = 1
  			WHERE post_no = #{value}
  	</update>
  </mapper>