<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- 위 문장으로 아래는 mapper의 내용이 됨 -->
  
  <mapper namespace="Board_detail_DAO">
 
  	<insert id="insertPost" parameterType="board_detail">
		INSERT INTO board(post_no, user_no, board_title, board_text, game_map, game_mode, board_date, recruitment)
			VALUES (post_no.NEXTVAL, #{user_no}, #{board_title},#{board_text},#{game_map},#{game_mode}, sysdate, #{recruitment})
  	</insert>
  
  </mapper>