<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- 위 문장으로 아래는 mapper의 내용이 됨 -->
  
  <mapper namespace="ProfileDAO">
  
	<!-- 마이페이지 유저 정보 불러오기 -->
  	<select id="profile_info" resultType="profile" parameterType="profile">
  		SELECT summoner_id, honor_rate, profile_icon
  		FROM user_info
  		WHERE user_no = '10029'
  	</select>
  	<!-- 마이페이지 뱃지 목록 불러오기 -->
  	<select id="profile_badge" resultType="profile" parameterType="profile">
  		SELECT badge_name
  		FROM badge
  		WHERE user_no = '10029'
  	</select>
  	<!-- 마이페이지 게시글 목록 불러오기 -->
  	<select id="profile_board" resultType="profile" parameterType="profile">
  		SELECT post_no, board_title, board_date
  		FROM board
  		WHERE user_no = '10029'
  	</select>   
  </mapper>