<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- 위 문장으로 아래는 mapper의 내용이 됨 -->
  
  <mapper namespace="ShopDAO">
  	
	<!-- 사용가능 포인트 조회 -->
  	<select id="usablePoints" parameterType="int" resultType="int">
  		SELECT usable_point from user_info where user_no=#{user_no}
  	</select>

	<!-- 상품테이블 전체조회 -->
	<select id="getItems" resultType="shop">
		SELECT * FROM shop_items ORDER BY item_name
	</select>
	
	<!-- 상품 추가 -->
	<insert id="insertItem" parameterType="shop">
		INSERT INTO shop_items 
		values(#{item_name}, #{item_remain}, #{item_total}, #{item_per}, #{item_point}, #{item_file})
	</insert>

	<!-- 응모횟수 조회 -->
	<select id="getCounts" resultType="_int[]">
		SELECT cnt
		FROM (SELECT item_name, COUNT(*) cnt
				FROM shop_apply 
				GROUP BY item_name
				ORDER BY item_name)
	</select>
	
	<!-- 응모버튼 클릭 -->
	<insert id="insertApply" parameterType="shop">
		INSERT INTO shop_apply
		VALUES(apply_no.nextval, #{user_no}, #{item-name})
	</insert>
  	
  </mapper>