<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- 위 문장으로 아래는 mapper의 내용이 됨 -->
  
<mapper namespace="userMapper">
	
	<!-- 회원가입 -->
	<insert id="sign_up" parameterType="user">
	INSERT INTO
	USER_INFO
	VALUES
	(USER_NO.NEXTVAL, #{summoner_id}, #{user_id}, #{user_pwd}, 0 ,#{phone_number}, 1, 0, 0, 0, 1, 1, 0, current_date, 0)
	</insert>
	
	<select id="user_id_check" parameterType="user" resultType="String">
	SELECT SUMMONER_ID
	FROM USER_INFO 
	WHERE USER_ID = #{user_id}
	</select>
	
	<select id="user_pwd_check" parameterType="user" resultType="String">
	SELECT SUMMONER_ID
	FROM USER_INFO 
	WHERE USER_PWD = #{user_pwd}
	</select>
	
	<!-- 로그인 -->
	<select id="idCheck_Login" parameterType="user" resultType="user">
	SELECT USER_NO, BAN, SUMMONER_ID, REPORT_STATUS, USER_PWD
	FROM USER_INFO
	WHERE USER_ID = #{user_id} AND USER_PWD = #{user_pwd}
	</select>
	
	<!-- ajax 아이디 중복 확인 -->
	<select id="userIdCheck" parameterType="String" resultType="String">
	SELECT USER_ID
	FROM USER_INFO
	WHERE USER_ID = #{user_id}
	</select>
	
	<!-- ajax 서머너 아이디 중복 확인 -->
	<select id="summonerIdCheck" parameterType="String" resultType="String">
	SELECT COUNT(*)
	FROM USER_INFO
	WHERE SUMMONER_ID = #{summoner_id}
	</select>
	
	<select id="tier_info" parameterType="int" resultType="String">
	SELECT SOLO_TIER
	FROM LOL_INFO
	WHERE USER_NO = #{user_no}
	</select>
	
	<update id="ban" parameterType="user">
	UPDATE USER_INFO
	SET REPORT_STATUS = REPORT_STATUS-1, BAN = 1
	WHERE USER_NO = #{user_no}
	</update>

</mapper>
