@charset "UTF-8";

	/* 셀렉트 조회 부분*/
	.total_div {
		width: 1200px;
		height: 1000px;
	}
	
	hr {
		background-color: black;
		height: 2px;
	}

	.map_game_gategory {
		width: 1028px;
		display: inline-block;
		position: absolute;
		top: 20%;
		left: 19%;
		padding: 30px;
		background-color: rgb(230,224,224);
	}

	.map {
		width: 260px;
		float: left;
		margin-right: 45px;
	}
	
	.game {
		width: 280px;
		float: left;
	}
	
	.map_category,.game_category {
		font-weight: bold;
	}
	
	.search {
		margin-top: 15px;
		margin-left: 30px;
		float: left;
		display: table;
	}
	
	.radius {
		border-radius: 8px;
	}
	
	#text_ra {
		height: 31px;
	}
	
	#search_value {
		width: 70px;
		height: 36px;
		border-width: 2px;
		border-color: black;
	}
	
	#submit {
		margin-left: 10px;
		width: 70px;
		height: 36px;
	}
	
	
	
	
	/* 게시판 조회 부분*/
	.table_list {
		width: 1000px;
		display: inline-block;
		position: absolute;
		top: 44%;
		left: 20%;
	}